@import '../bower_components/sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 400px;
}

html, body {
  height: 100%;
  background-color: lightgray;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin: 0;
}

.wrapper {
  position: relative;
  height: auto !important;
  background-color: lightpink;
  min-height: 100%;
  margin: 0 auto -30px;
}

.layout {
  overflow: hidden;
  font-size: 0;
}

.layout div, .layout nav {
  padding-bottom: 9999px;
  margin-bottom: -9999px;
}

#navigation {
  vertical-align: text-top;
  display: inline-block;
  white-space: normal;
  font-size: 12px;
  width: 150px;
  background-color: lightblue;
}

#content {
  vertical-align: text-top;
  display: inline-block;
  white-space: normal;
  font-size: 12px;
  width: 100%;
  position: relative;
  left: 150px;
  margin-left: -150px;
  background-color: #ffff00;
}

header {
  position: relative;
  height: 100px;
  background-color: #0000ff;
}

footer {
  position: relative;
  height: 30px;
  background-color: lightgreen;
  text-align: center;
}
