<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Build your own quiz!</title>

  <meta name="description" content="Online utility which helps you build quiz!" />
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" href="stylesheets/app.css">

  <script src="javascripts/modernizr.foundation.js"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>

  <div class="row">
    <div class="twelve columns">
      <h2>Build your quiz</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="six columns" id="quiz_builder">
        <a href="#" id="add_question" class="medium button">Add question</a>
        <div class="row" id="q_container"></div>
        <ul class="disc" id="a_container"></ul>
        <a class="medium alert button" id="save_question" href="#">Save</a>
    </div>

    <div class="six columns">
        <div class="row" id="question_preview">
            <dl class="tabs"></dl>
            <ul class="tabs-content"></ul>
        </div>
        <!-- FIXME: Remove this code once tabs are implemented -->
        <div class="row">
            <header id="q_text"></header>
            <ul class="answers_preview" id="q_answers_preview"></ul>
        </div>
    </div>
  </div>
  
  <!-- Here comes templates -->
  <script type="text/template" id="question">
      <div class="row">
          <div class="four columns">
              <input type="radio" name="answer_type" value="single" checked="checked" id="type_single" /> -
              <label for="type_single">Single</label>
          </div>
          <div class="four columns">
              <input type="radio" name="answer_type" value="multiple" id="type_multiple" /> -
              <label for="type_multiple">Multiple</label>
          </div>
          <div class="four columns">
              <input type="radio" name="answer_type" value="extended" id="type_extended" /> -
              <label for="type_extended">Free text</label>
          </div>
      </div>
      <div class="row">
          <input type="text" class="q_input" id="question_text" placeholder="Type question" />
          <a href="#" class="small success button" id="add_answer">Add answer</a>
      </div>
  </script>
  <script type="text/template" id="answer_single">
      <li>
          <input type="radio" class="control" name="a_for_q<%= id %>" />
          <%= _.template($("#answer_text").html(), {"id": id}) %>
          <span><input type="radio" class="answer-validator" name="q<%= id %>_a_validator" /> - valid answer</span>
      </li>
  </script>
  <script type="text/template" id="answer_multiple">
      <li>
          <input type="checkbox" class="control" name="a_for_q<%= id %>[]" />
          <%= _.template($("#answer_text").html(), {"id": id}) %>
          <span><input type="checkbox" class="answer-validator" name="q<%= id %>_a_validator[]" /> - valid answer</span>
      </li>
  </script>
  <script type="text/template" id="answer_extended">
      <%= _.template($("#answer_text").html(), {"id": id}) %>
  </script>
  <script type="text/template" id="answer_text">
      <input type="text" id="a<%= id %>" data-correct-answer="" class="answer_text" placeholder="Type answer" />
      <p id="a_<%= id %>text"></p>
  </script>
  <script type="text/template" id="q_and_a">
      <header><%= title %></header>
      <% if(true){ %>Just type this text....<% }%>
  </script>
  
  <!-- Included JS Files (Compressed) -->
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/foundation.min.js"></script>
  <script src="javascripts/underscore.js"></script>
  <script src="javascripts/backbone.js"></script>
  <script src="javascripts/Backbone_localStorage/backbone.localStorage-min.js"></script>

  <script src="javascripts/quizzle.form.builder.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="javascripts/app.js"></script>

</body>
</html>
