<div>
    <div class="wrapper">
        <header id="header">
            <h1>Order panel</h1>
            <div class="controls">
                <span id="hide-menu">Hide menu</span>
            </div>
        </header>
        <div class="layout">
            <nav id="navigation">
                <ul>
                    <li><a href="#food">Food</a></li>
                    <li><a href="#beverages">Beverages</a></li>
                    <li><a href="#kitchen">Kitchen</a></li>
                </ul>
            </nav>
            <div id="content">
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
                Test<br>
            </div>
        </div>
    </div>
    <footer>
        Copyright &copy; <a href="mailto:rodush@gmail.com">Roman Dushko</a> {{copyYear}}
    </footer>
</div>
