<div>    
    {{> ../templates/partials/navigation }}
    <div class="container" id="main-content">
        <div class="row">
            <div class="col-lg-3">{{{ copyYear }}}</div>
            <div class="col-lg-9">
                Right column
            </div>
        </div>
    </div>
</div>
